# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
cache: packages


bioc_required: true
bioc_use_devel: true

os:
 - linux
 - osx

r:
 - oldrel
 - release
 - devel


r_github_packages:
 - hadley/devtools#1263
 - rte-antares-rpackage/antares-rpackageRead
#before - Bioconductor-mirror/zlibbioc
# - Bioconductor-mirror/rhdf5
#after
bioc_packages:
  - rhdf5
  - zlibbioc


r_packages:
  - covr
  - devtools
  - data.table
  - lubridate
  - plyr
  - stringr
  - shiny
  - knitr
  - testthat
  - rmarkdown

after_success:
  - Rscript -e 'library(covr); codecov()'
