# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

cache: bundler

install:
  ps: Bootstrap

# Adapt as necessary starting from here
environment:
  matrix:
  - R_VERSION: release
    R_ARCH: x64

  - R_VERSION: patched


build_script:
  - travis-tool.sh install_deps
#before  - ./travis-tool.sh install_github Bioconductor-mirror/zlibbioc
#  - ./travis-tool.sh install_github Bioconductor-mirror/rhdf5
#after
  - travis-tool.sh install_bioc_deps
  - ./travis-tool.sh install_github rte-antares-rpackage/antaresRead@develop

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits
